<!DOCTYPE html>
<html lang="uk">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Тестове завдання</title>
  <meta name="description" content="Тестове завдання Ващука Ярослава на позицію Junior Front-End developer">
  <meta property="og:type" content="page">
  <meta property="og:title" content="Тестове завдання">
  <meta property="og:description" content="тестове завдання Ващука Ярослава на позицію Junior Front-End developer">
  <link href="/favicon.ico" rel="shortcut icon">
  <% if(NODE_ENV==='development') { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.files.css %>">
    <% } %>
</head>

<body>
  <!--  share window  -->
  <div class="share wrap" id="share-window">
    <div class="window">
      <svg id="close-share" width="20px" height="20px">
        <use xlink:href='#close' />
      </svg>
      <img src="images/share-poster.jpg" alt="">
      <div class="description">
        <h1>Избран новый глава ВОЗ</h1>
        <p>
          До избрания Генеральным директором ВОЗ Тедрос Адханом Гебрейесус был министром иностранных дел и министром здравоохранения
          Эфиопии.
        </p>
        <span>tsn.ua</span>
      </div>
      <div class="links">
        <a href="" class="vk">
          <svg width="20px" height="11px">
            <use xlink:href='#vk' />
          </svg>
        </a>
        <a href="" class="facebook">
          <svg width="10px" height="18px">
            <use xlink:href='#facebook' />
          </svg>
        </a>
        <a href="" class="twitter">
          <svg width="17px" height="13px">
            <use xlink:href='#twitter' />
          </svg>
        </a>
        <a href="" class="odnoklasniki">
          <svg width="12px" height="19px">
            <use xlink:href='#odnoklasniki' />
          </svg>
        </a>
        <a href="" class="google">
          <svg width="24px" height="15px">
            <use xlink:href='#google' />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!--  foto gallery window  -->
  <div class="wrap gallery">
    <div class="gallery-window">

      <div class="header">
        <h1></h1>
        <svg id="close-gallery" width="20px" height="20px">
          <use xlink:href='#close' />
        </svg>
      </div>

      <img class="view" src="" alt="view">
      <div class="preview"></div>

    </div>
  </div>

  <!--  header  -->
  <header>
    <!-- top head menu -->
    <div id="top-head">
      <a href="/" class="logo" id="top-logo">
        <svg width="50" height="23" viewBox="0 0 51 23" role="img" aria-label="ТСН вражає">
          <use xlink:href='#logo' />
        </svg>
      </a>
      <div class="nav-wrapper">
        <nav id="nav-left">
          <a href="">
            <p>Понеділок<br>29 Травня, 2017</p>
          </a>
          <a href="">
            <svg width="24px" height="22px">
              <use xlink:href='#tuchka' />
            </svg>
            <p><span id="city">Loading...</span><br><span id="pogoda">-&deg;C</span></p>
          </a>
          <a href="">
            <div>
              <svg width="5px" height="12px">
                <use xlink:href='#kurs-plus' />
              </svg>
              <p><span>&nbsp;&euro;&nbsp;&nbsp;</span>29.75</p>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5px" height="12px">
                <use xlink:href='#kurs-minus' />
              </svg>
              <p><span>&nbsp;&#36;&nbsp;&nbsp;</span>26.45</p>
            </div>
          </a>
        </nav>
        <nav id="nav-right">
          <form>
            <input class="" type="text">
            <button class="" id="search" type="button">
              <svg width="25px" height="24px">
                <use xlink:href='#search-icon' />
              </svg>
            </button>
          </form>
          <button id="share">
            <svg width="24px" height="24px">
              <use xlink:href='#share' />
            </svg>
          </button>
        </nav>
      </div>
    </div>
    <!--  start top menu   -->
    <% var topMenuData = [
      {
        name: 'Україна',
        url: 'https://tsn.ua/ukrayina'
      },
      {
        name: 'Політика',
        url: 'https://tsn.ua/politika'
      },
      {
        name: 'Відео',
        url: 'https://tsn.ua/video/video-novini'
      },
      {
        name: 'Випуски ТСН',
        url: 'https://tsn.ua/vypusky'
      },
      {
        name: 'Блоги',
        url: 'https://tsn.ua/blogi'
      },
      {
        name: 'Проспорт',
        url: 'https://prosport.tsn.ua/'
      },
      {
        name: 'Гламур',
        url: 'https://tsn.ua/glamur'
      },
      {
        name: 'Леді',
        url: 'https://lady.tsn.ua/'
      },
      {
        name: 'Цікавинки',
        url: 'https://tsn.ua/tsikavinki'
      },
      {
        name: 'Спецпроекти',
        url: 'https://tsn.ua/special-projects'
      }
    ]%>

      <div class="menu-wrap">
        <div id="top-menu">
          <div id="wrap-logo"></div>
          <% for(var i=0; i<topMenuData.length; i++) {%>
            <a target="_blank" href="<%= topMenuData[i].url  %>">
              <%= topMenuData[i].name %>
            </a>
            <% } %>
              <button id="drop-btn">
          <svg width="14px" height="12px">
            <use xlink:href='#drop-down' />
          </svg>
          Всі розділи
          <div id="drop-menu">
            <a target="_blank" href="https://tsn.ua/tourism">Туризм</a>
            <a target="_blank" href="https://auto.tsn.ua/">Авто</a>
            <a target="_blank" href="https://tsn.ua/nauka_it">Наука та ІТ</a>
          </div>
        </button>
        </div>
      </div>
  </header>

  <!--  start slider  -->
  <article id="slider">
    <div class="slider-video"></div>
    <div class="shadow"></div>
    <div id="controll">
      <% for(var i=1; i<6; i++) {%>
        <% if(i===1) {%>
          <button class="arrow slide active" id="<%= 'slide'+i %>">
      <% } else {%>
        <button class="arrow slide" id="<%= 'slide'+i %>">
      <% } %>
          <span></span>
          <div></div>
        </button>
          <% } %>
    </div>

    <div class="info">
      <h3 class="title"></h3>
      <p>
        <span class="badge"></span>
        <span class="datatime"></span>
      </p>
    </div>
    <div class="video-controlls">
      <svg id="play" width="31px" height="33px">
        <use xlink:href='#play-slider' />
      </svg>

      <svg id="pause" width="31px" height="33px">
        <use xlink:href='#pause-slider' />
      </svg>
    </div>
  </article>

  <!--  start main  -->
  <main>
    <div class="main-wrap">
      <!--  start sidebar  -->
      <% var SidebarData = [
        {
          date: "29 Травня, 2017",
          time: "17:22",
          title: "У \"Київпастрансі\" пояснили, навіщо підвищують вартість проїзду у столиці",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "17:03",
          title: "Водій легковика, який врізався в маршрутку у Вишгороді, був напідпитку – поліція",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "16:58",
          title: "Кронпринцеса Данії вбралася в українську вишиванку вартістю у понад тисячу доларів",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "17:22",
          title: "Вона робить це на зло: психолог проаналізував мову тіла Меланії Трамп і розповів, що не так з її сумом",
          poster : 'images/sidebar-news-1.jpg',
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "16:02",
          title: "Де дешевше: порівняння цін на продукти в супермаркетах Києва",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "15:47",
          title: "На Буковині затримали слідчого поліції під час отримання хабара у $ 3 тисячі",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "15:13",
          title: "У Молдові пояснили, чому вислали російських дипломатів",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "15:03",
          title: "Це якийсь перевернутий світ: російський журналіст шокований затриманням школяра за читання \"Гамлета\" на ...",
          video: 'Видео 15:08',
          poster: 'images/sidebar-news-2.jpg',
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "16:58",
          title: "Кронпринцеса Данії вбралася в українську вишиванку вартістю у понад тисячу доларів",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "17:22",
          title: "Вона робить це на зло: психолог проаналізував мову тіла Меланії Трамп і розповів, що не так з її сумом",
          poster : 'images/sidebar-news-1.jpg',
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "16:02",
          title: "Де дешевше: порівняння цін на продукти в супермаркетах Києва",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "15:47",
          title: "На Буковині затримали слідчого поліції під час отримання хабара у $ 3 тисячі",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "15:13",
          title: "У Молдові пояснили, чому вислали російських дипломатів",
          poster: false,
          video: false, 
          url: "/"
        },
        {
          date: "29 Травня, 2017",
          time: "15:03",
          title: "Це якийсь перевернутий світ: російський журналіст шокований затриманням школяра за читання \"Гамлета\" на ...",
          poster : 'images/sidebar-news-2.jpg',
          video: 'Видео 15:08',
          url: "/"
        },  
        {
          date: "29 Травня, 2017",
          time: "15:47",
          title: "На Буковині затримали слідчого поліції під час отримання хабара у $ 3 тисячі",
          poster: false,
          video: false, 
          url: "/"
        }
      ]%>

        <aside class="sidebar">
          <div class="srez"></div>
          <section class="content">
            <h2>Останні новини</h2>
            <% for(var i=0; i<SidebarData.length; i++) {%>
              <article class="sidebar-item">
                <% if(!SidebarData[i].poster===false) {%>
                  <div class="poster">
                    <a href="<%= SidebarData[i].url %>">
                  <img src="<%= SidebarData[i].poster %>" alt="poster">
                </a>
                    <% if(!SidebarData[i].video===false) {%>
                      <span class="play">
                  <svg width="16px" height="17px">
                    <use xlink:href='#sidebar-play' />
                  </svg>
                  <%= SidebarData[i].video %>
                <% } %>
                </span>
                  </div>
                  <% } %>
                    <h4>
                      <a href="<%= SidebarData[i].url %>">
                        <%= SidebarData[i].title %>
                      </a>
                    </h4>
                    <div class="time">
                      <%= SidebarData[i].date + ' ' + SidebarData[i].time %>
                    </div>
              </article>
              <% if(i===1) {%>
                <aside class="banner">
                  <a href="">
                <img src="images/banner-sidebar.jpg" alt="">
              </a>
                </aside>
                <% } %>
                  <% } %>
                    <button id="new-news">
            Завантажити ще
            <svg width="16px" height="14px"> 
              <use xlink:href='#download-ewe' />
            </svg>
          </button>
          </section>
        </aside>

        <!--  start main news  -->
        <div class="news-wrap">

          <!--  video window  -->
          <div id="video-window">
            <div></div>
            <svg id="close-video" width="20px" height="20px">
              <defs>
                <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="20px" height="20px">
                  <feOffset in="SourceAlpha" dx="0" dy="1" />
                  <feGaussianBlur result="blurOut" stdDeviation="1" />
                  <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
                  <feComposite operator="atop" in="floodOut" in2="blurOut" />
                  <feComponentTransfer>
                    <feFuncA type="linear" slope="1" />
                  </feComponentTransfer>
                  <feMerge>
                    <feMergeNode/>
                    <feMergeNode in="SourceGraphic" />
                  </feMerge>
                </filter>

              </defs>
              <g filter="url(#Filter_0)">
                <use xlink:href='#close' />
              </g>
            </svg>
          </div>

          <!--  start main news menu  -->
          <div class="news-menu">
            <a href="">Головні новини</a>
            <a href="">Популярні</a>
            <a href="">Коментують</a>
          </div>

          <!--  data for main news  -->
          <%  
        var blocks = ['top','bot'];
        var cardsData = [
          {
            poster: 'images/news-1.jpg',
            video: false,
            title: 'У столиці Афганістану стався потужний вибух - понад 90 людей поранені, є загиблі',
            badge: 'Світ',
            date: '28 травня, 2017',
            time: '08:51',
            comments: 31,
            reviews: 3015,
            url: ''
          },
          {
            poster: 'images/news-2.jpg',
            video: false,
            title: 'В уряді назвали п\'ять областей України з найгіршими дорогами',
            badge: 'Україна',
            date: '28 травня, 2017',
            time: '07:23',
            comments: 2,
            reviews: 1025,
            url: ''
          },
          {
            poster: 'images/news-3.jpg',
            video: true,
            title: 'Флінн погодився передати до Сенату документи в рамках розслідування щодо втручання РФ у вибори ...',
            badge: 'Гламур',
            date: '27 травня, 2017',
            time: '22:18',
            comments: 8,
            reviews: 2005,
            url: ''
          },
          {
            poster: 'images/news-4.jpg',
            video: false,
            title: 'НБУ оголосив про зняття трьох адміністративних обмежень на валютному ринку',
            badge: 'Гроші',
            date: '28 травня, 2017',
            time: '18:51',
            comments: 31,
            reviews: 3015,
            url: ''
          },
          {
            poster: 'images/news-5.jpg',
            video: true,
            title: 'Флінн погодився передати до Сенату документи в рамках розслідування щодо втручання РФ у вибори ...',
            badge: 'Світ',
            date: '27 травня, 2017',
            time: '22:18',
            comments: 8,
            reviews: 2005,
            url: ''
          },
          {
            poster: 'images/news-6.jpg',
            video: false,
            title: 'Жодних доказів застосування Асадом хімічної зброї немає — Путін',
            badge: 'Світ',
            date: '28 травня, 2017',
            time: '21:45',
            comments: 31,
            reviews: 3015,
            url: ''
          }]
        %>

            <!--  main news top -->
            <section class="main-news">
              <% for(var i=0; i<blocks.length; i++) {%>
                <div class="<%= blocks[i] %>-news">
                  <% 
            if(blocks[i]==='top'){
              var init = [0, 3];
            } else {
              var init = [3, 6];
            }
          %>
                    <% for(var a=init[0]; a<init[1]; a++) {%>
                      <article class="news-card">
                        <div class="card-top">
                          <% if(!cardsData[a].video===false) { %>
                            <div class="news-card-video">
                              <a class="poster" href="">
                    <img src="<%= cardsData[a].poster %>" alt="">
                  </a>

                              <div class="video-shadow">
                                <svg class='play' width="52px" height="48px">
                                  <use xlink:href='#play-shadow' />
                                </svg>
                              </div>

                              <svg class="play-in-window" width="17px" height="17px">
                                <use xlink:href='#play-in-window' />
                              </svg>

                              <svg class="play" width="52px" height="54px">
                                <use xlink:href='#play-card-video' />
                              </svg>
                            </div>
                            <% } else {%>
                              <a href="" class="poster">
                  <img src="<%= cardsData[a].poster %>" alt="">
                </a>
                              <% } %>
                                <a href="">
                                  <h4>
                                    <%= cardsData[a].title %>
                                  </h4>
                                </a>
                        </div>

                        <div class="card-bot">
                          <div>
                            <span><%= cardsData[a].badge %></span>
                            <%= cardsData[a].date + ' ' + cardsData[a].time%>
                          </div>
                          <div class="card-info">
                            <div class="comments">
                              <svg width="12px" height="11px">
                                <use xlink:href='#comments' />
                              </svg>
                              <%= cardsData[a].comments %>
                            </div>
                            <div class="reviews">
                              <svg width="12px" height="8px">
                                <use xlink:href='#reviews' />
                              </svg>
                              <%= cardsData[a].reviews %>
                            </div>
                          </div>
                        </div>
                      </article>
                      <% } %>
                </div>
                <% } %>
            </section>
        </div>
    </div>

    <!--  foto block  -->
    <div class="foto-wrap">
      <div class="foto-news-wrap">
        <h3>Фото репортаж</h3>
        <% 
         var fotoData = [
          {
            title: "Вогонь, водомети і сльозог<br>інний газ: у Венесуелі",
            position: "doublewidth",
            image: 'images/foto-news-1.jpg',
            gallery: true, 
            url: "/"
          },
          {
            posotion: false,
          },
          {
            title: 'Танцював<br>із Саудами<br>і штурхав колег<br>із НАТО',
            position: "doubleheight",
            image: 'images/foto-news-2.jpg',
            gallery: true, 
            url: "/"
          },         
          {
            title: false,
            position: "normal",
            image: 'images/foto-news-3.jpg',
            gallery: true, 
            url: "/"
          },
          {
            title: false,
            position: "doubleheight",
            image: 'images/foto-news-4.jpg',
            gallery: false, 
            url: "/"
          },
          {
            title: false,
            position: "pull-top normal",
            image: 'images/foto-news-5.jpg',
            gallery: false, 
            url: "/"
          },
          {
            title: false,
            position: "doubleheight pull-top",
            image: 'images/foto-news-6.jpg',
            gallery: false, 
            url: "/"
          },
          {
            position: false
          },         
          {
            title: false,
            position: "normal",
            image: 'images/foto-news-7.jpg',
            gallery: false, 
            url: "/"
          },
          {
            position: false
          },         
          {
            title: false,
            position: "pull-top normal",
            image: 'images/foto-news-8.jpg',
            gallery: false, 
            url: "/"
          },
          {
            title: false,
            position: 'doublewidth pull-left',
            image: 'images/foto-news-10.jpg',
            gallery: false, 
            url: "/"
          },          
          {
            position: false
          },         
          {
            title: false,
            position: "pull-top normal",
            image: 'images/foto-news-9.jpg',
            gallery: false, 
            url: "/"
          },         
          {
            position: false
          }  
        ]       
        %>
          <div class="foto-news">
            <% for(var i=0; i<fotoData.length; i++) {%>
              <%  if(!fotoData[i].position === false) { %>
                <article class="<%= 'foto-news-' + [i] %> <%= fotoData[i].position %>">
                  <a href="">
                <img src="<%= fotoData[i].image %>" alt=""> 
              </a>
                  <% if(fotoData[i].gallery) { %>
                    <svg class="open-gallery" width="17px" height="17px">
                      <defs>
                        <filter filterUnits="userSpaceOnUse" id="Filter_1" x="0px" y="0px" width="17px" height="17px">
                          <feOffset in="SourceAlpha" dx="0" dy="1" />
                          <feGaussianBlur result="blurOut" stdDeviation="0" />
                          <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
                          <feComposite operator="atop" in="floodOut" in2="blurOut" />
                          <feComponentTransfer>
                            <feFuncA type="linear" slope="0.75" />
                          </feComponentTransfer>
                          <feMerge>
                            <feMergeNode/>
                            <feMergeNode in="SourceGraphic" />
                          </feMerge>
                        </filter>

                      </defs>
                      <use xlink:href='#open-gallery' />
                    </svg>
                    <% } %>
                      <h5>
                        <% if(!fotoData[i].title===false) { %>
                          <span><%= fotoData[i].title %></span>
                          <% } %>
                      </h5>
                </article>
                <% } %>
                  <% } %>
          </div>
      </div>
    </div>

    <div class="main-wrap">
      <div class="news-wrap">
        <!--  banner main news  -->
        <aside class="banner-wrap">
          <iframe width="728px" height="90px" src="http://player.hosting.1plus1.ua/tests/fe/adIframe.html">
          </iframe>
        </aside>
        <!--  main news bot -->
        <section class="main-news">
          <% for(var i=0; i<blocks.length; i++) {%>
            <div class="<%= blocks[i] %>-news">
              <% 
              if(blocks[i]==='top'){
                var init = [0, 3];
              } else {
                var init = [3, 6];
              }
            %>
                <% for(var a=init[0]; a<init[1]; a++) {%>
                  <article class="news-card">
                    <div class="card-top">
                      <% if(!cardsData[a].video===false) { %>
                        <div class="news-card-video">
                          <a class="poster" href="">
                      <img src="<%= cardsData[a].poster %>" alt="">
                    </a>

                          <div class="video-shadow">
                            <svg class='play' width="52px" height="48px">
                              <use xlink:href='#play-shadow' />
                            </svg>
                          </div>

                          <svg class="play-in-window" width="17px" height="17px">
                            <use xlink:href='#play-in-window' />
                          </svg>

                          <svg class="play" width="52px" height="54px">
                            <use xlink:href='#play-card-video' />
                          </svg>
                        </div>
                        <% } else {%>
                          <a href="" class="poster">
                    <img src="<%= cardsData[a].poster %>" alt="">
                  </a>
                          <% } %>
                            <a href="">
                              <h4>
                                <%= cardsData[a].title %>
                              </h4>
                            </a>
                    </div>

                    <div class="card-bot">
                      <div>
                        <span><%= cardsData[a].badge %></span>
                        <%= cardsData[a].date + ' ' + cardsData[a].time%>
                      </div>
                      <div class="card-info">
                        <div class="comments">
                          <svg width="12px" height="11px">
                            <use xlink:href='#comments' />
                          </svg>
                          <%= cardsData[a].comments %>
                        </div>
                        <div class="reviews">
                          <svg width="12px" height="8px">
                            <use xlink:href='#reviews' />
                          </svg>
                          <%= cardsData[a].reviews %>
                        </div>
                      </div>
                    </div>
                  </article>
                  <% } %>
            </div>
            <% } %>
        </section>
      </div>
    </div>

  </main>
  <!--  start footer  -->
  <footer>
    <div class="footer-content">
      <div class="partners">
        <a href="https://1plus1.ua" target="_blank" id="oneplus">1+1</a>
        <a href="http://tet.tv" target="_blank" id="tet">ТЕТ</a>
        <a href="http://2plus2.ua" target="_blank" id="twoplus">2+2</a>
        <a href="http://plus-plus.tv" target="_blank" id="plusplus">Плюс Плюс</a>
        <a href="https://int.1plus1.ua" target="_blank" id="int">1+1 international</a>
        <a href="http://biguditv.com" target="_blank" id="bigudi">Бігуді</a>
        <a href="https://www.unian.ua" target="_blank" id="unian">Уніан</a>
        <a href="http://ovva.tv" target="_blank" id="ovva">OVVA</a>
      </div>
      <div class="slogan">Тсн вражає</div>
      <div class="copyright">
        <span></span>
        <p>2017</p>
        <span></span>
      </div>
    </div>
  </footer>
  <!--  end footer  -->
  <script>
    ; (function (window, document) {
      'use strict';
      var file = '/sprite.svg', // путь к файлу спрайта на сервере
        revision = 1;            // версия спрайта для кеширования
      if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
      var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
        request,
        data,
        insertIT = function () {
          document.body.insertAdjacentHTML('afterbegin', data);
        },
        insert = function () {
          if (document.body) insertIT();
          else document.addEventListener('DOMContentLoaded', insertIT);
        };
      if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision) {
        data = localStorage.getItem('inlineSVGdata');
        if (data) {
          insert();
          return true;
        }
      }
      try {
        request = new XMLHttpRequest();
        request.open('GET', file, true);
        request.onload = function () {
          if (request.status >= 200 && request.status < 400) {
            data = request.responseText;
            insert();
            if (isLocalStorage) {
              localStorage.setItem('inlineSVGdata', data);
              localStorage.setItem('inlineSVGrev', revision);
            }
          }
        }
        request.send();
      } catch (e) { }
    }(window, document));
  </script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.files.js %>"></script>
</body>

</html>